.container
  .temp
    %h1
      = @pres.current_temperature
      %small= @pres.formatted_time(@pres.last_reading)

  %canvas#canvas

:javascript
  $(document).ready(function(){
    var data = {
      labels: #{@pres.graph_temperatures.map { |temp| @pres.formatted_time(temp) } },
      datasets: [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data: #{@pres.graph_temperatures.reverse.collect(&:temperature)}
        }
      ]
    }
    myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data)
  });

